__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.env
*.mp3
*.wav
tmp/
output/
data/*
!data/podcast_transcripts/
data/podcast_transcripts/*
!data/podcast_transcripts/*.md
.venv/
.ipynb_checkpoints/
